<a href="/contact">
  <p>
    <button class="red-button-right">{'>'}</button> Pour me contacter, clique ici !
  </p>
</a>

<style>
p {
  font-family: 'Aloja-Light';
}
.red-button-right {
  background-color: #BD2753;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
</style>