---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

import Container from "@components/container.astro";
import Dropdown from "./dropdown.astro";

const menuList = [
  {
    title: "Hello",
    path: "/",
  },
  {
    title: "Présentation",
    path: "/about",
  },
  {
    title: "Art",
    path: "#",
    children: [
      { title: "Oeuvres d'art", path: "/works" },
      { title: "Créations artisanales", path: "/crafts" },
      { title: "Bodypaint", path: "/bodypaint" },
    ],
  },
  // TODO fix actus not being handled by astro build process
  // {
  //   title: "Actu",
  //   path: "/actus",
  // },
  {
    title: "Ateliers Participatifs",
    path: "/ateliers-participatifs",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span id="nav-title" class="font-bold text-slate-800"
            >Art.penter</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
        <div class="px-10 hidden lg:flex">
          <a
            class="flex items-center p-2 mt-2 space-x-2 text-gray-600"
            href="https://www.instagram.com/art.penter"
            target="_blank"
            referrerpolicy="no-referrer">
            <span
              class="iconify-inline w-8 h-8"
              data-icon="mdi:instagram"
              data-height="24"></span>
          </a>
          <a
            class="flex items-center p-2 mt-2 space-x-2 text-gray-600"
            href="https://www.facebook.com/missive.immersive"
            target="_blank"
            referrerpolicy="no-referrer">
            <span
              class="iconify-inline w-8 h-8"
              data-icon="ic:baseline-facebook"
              data-height="24"></span>
          </a>
          <a
            class="flex items-center p-2 mt-2 space-x-2 text-gray-600"
            href="https://www.tiktok.com/@art.penter?_t=8askPEVEu0b&_r=1"
            target="_blank"
            referrerpolicy="no-referrer">
            <span
              class="iconify-inline w-8 h-8"
              data-icon="ic:baseline-tiktok"
              data-height="24"></span>
          </a>
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuList.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuList.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 font-semibold text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>

<style>
  #nav-title {
    font-family: "Aloja-Extended";
  }

  #nav-item {
    font-weight: 900;
  }
</style>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/iconify/3.0.0-beta.3/iconify.min.js"
></script>
