---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Icon } from "astro-icon";

const menuList = [
  {
    title: "Hello",
    path: "/",
  },
  {
    title: "Présentation",
    path: "/about",
  },
  {
    title: "Art",
    path: "#",
    children: [
      { title: "Oeuvres d'art", path: "/works" },
      { title: "Créations artisanales", path: "/crafts" },
      { title: "Bodypaint", path: "/bodypaint" },
    ],
  },
  {
    title: "Actu",
    path: "/actus",
  },
  {
    title: "Ateliers Participatifs",
    path: "/ateliers-participatifs",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-row lg:flex-row justify-between items-center my-0">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span id="nav-title" class="font-bold text-slate-800"
            >Art.penter</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <div class="hidden lg:flex">
        <div class="flex items-center p-2 mt-2 space-x-2 text-gray-600">
          <Icon class="text-black w-8 h-8" name="mdi:instagram" />
        </div>
        <div class="flex items-center p-2 mt-2 space-x-2 text-gray-600">
          <Icon class="text-black w-8 h-8" name="ic:baseline-facebook" />
        </div>
        <div class="flex items-center p-2 mt-2 space-x-2 text-gray-600">
          <Icon class="text-black w-8 h-8" name="ic:baseline-tiktok" />
        </div>
      </div>
      <!-- TODO MAKE NAV SHOW UNDER -->
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <div>
          <ul class="absoluteflex flex-col lg:flex-row lg:gap-3">
            {
              menuList.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuList.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        id="nav-item"
                        href={item.path}
                        class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                        {item.title}
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
        </div>
      </MenuItems>
    </Astronav>
  </header>
</Container>

<style>
  #nav-title {
    font-family: "Aloja-Light";
  }

  #nav-item {
    font-weight: 900;
  }
</style>
