---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuList = [
  {
    title: "Hello",
    path: "/",
  },
  {
    title: "Présentation",
    path: "/about",
  },
  {
    title: "Art",
    path: "#",
    children: [
      { title: "Oeuvres d'art", path: "/works" },
      { title: "Créations artisanales", path: "/crafts" },
      { title: "Bodypaint", path: "/bodypaint" },
    ],
  },
  {
    title: "Actu",
    path: "/actus",
  },
  {
    title: "Ateliers Participatifs",
    path: "/ateliers-participatifs",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<>
  <header class="flex justify-between items-center my-0 w-full">
    <Astronav>
      <div class="w-full justify-between">
        <a href="/" class="text-lg text-left w-full"
          ><span
            id="nav-title"
            class="font-bold text-slate-800 text-left lg:px-3 py-2"
            >Art.penter</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <div class="w-full">
          <ul class="lg:gap-3 flex justify-center w-full">
            {
              menuList.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuList.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        id="nav-item"
                        href={item.path}
                        class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                        {item.title}
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
        </div>
      </MenuItems>
    </Astronav>
  </header>
</>

<style>
  #nav-title {
    text-align: "left";
    font-family: "Aloja-Extended";
  }

  #nav-item {
    font-weight: 900;
  }
</style>
