<footer class="my-10">
  <p class="text-center text-sm text-black">
    Copyright © {new Date().getFullYear()} Artpenter. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Made with :heart: by <a
      href="https://joerikaiser.dev"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Joeri Kaiser
    </a>
  </p>
</footer>
