---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">
          Pour me contacter, c’est ici!
        </h2>
        <p class="text-lg leading-relaxed text-gray-800 mt-3">
          Une question, une demande, une envie, un projet, n’hésitez pas,
          envoyez moi un message! Vous souhaitez être tenu au courant des
          dernières nouveautés? Suivez moi sur facebook, tik tok ou instagram:
          @art.penter
        </p>
        <p class="text-lg leading-relaxed text-gray-800 mt-3">
          Je vous souhaite une très belle journée, et à bientôt!
        </p>
        <div class="mt-5">
          <a
            href="https://www.instagram.com/art.penter/"
            target="_blank"
            referrerpolicy="no-referrer"
            class="flex items-center mt-2 space-x-2 text-gray-600">
            <span
              class="iconify-inline w-8 h-8"
              data-icon="mdi:instagram"
              data-height="24"></span>
            <span>Art.Penter</span>
            <span
              class="iconify-inline w-8 h-8"
              data-icon="ri:external-link line"
              data-height="24"></span>
          </a>
          <a
            href="https://www.facebook.com/missive.immersive"
            target="_blank"
            referrerpolicy="no-referrer"
            class="flex items-center mt-2 space-x-2 text-gray-600">
            <span
              class="iconify-inline w-8 h-8"
              data-icon="ic:baseline-facebook"
              data-height="24"></span>
            <span>Art.Penter</span>
            <span
              class="iconify-inline w-8 h-8"
              data-icon="ri:external-link line"
              data-height="24"></span>
          </a>
          <a
            href="https://www.tiktok.com/@art.penter?_t=8askPEVEu0b&_r=1"
            target="_blank"
            referrerpolicy="no-referrer"
            class="flex items-center mt-2 space-x-2 text-gray-600">
            <span
              class="iconify-inline w-8 h-8"
              data-icon="ic:baseline-tiktok"
              data-height="24"></span>
            <span>Art.Penter</span>
            <span
              class="iconify-inline w-8 h-8"
              data-icon="ri:external-link line"
              data-height="24"></span>
          </a>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <span
              class="iconify-inline w-8 h-8"
              data-icon="uil:map-marker"
              data-height="24"></span>
            <span>France</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <span
              class="iconify-inline w-8 h-8"
              data-icon="uil:envelope"
              data-height="24"></span><a href="mailto:leastauder31@gmail.com"
              >leastauder31@gmail.com</a
            >
            <span
              class="iconify-inline w-8 h-8"
              data-icon="ri:external-link line"
              data-height="24"></span>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/iconify/3.0.0-beta.3/iconify.min.js"
></script>
