---
import Sectionhead from "@components/sectionhead.astro";
import brush2 from "@assets/brushes/brush2.svg";
import cart from "@assets/cart.svg";

const { title, subtitle } = Astro.props;
---

<section class="grid place-items-center main-section">
  <div class="flex flex-col place-items-center">
    <div>
      <Sectionhead>
        <Fragment slot="title">{title}</Fragment>
        <Fragment slot="desc">{subtitle}</Fragment>
      </Sectionhead>
    </div>
    <div class="cart">
      <img src={cart} alt="cart" />
      <div class="cart-text-container">
        <p>VERS MA BOUTIQUE ETSY</p>
      </div>
    </div>
    <div class="w-full grid place-items-center p-0 m-0">
      <img class="rotate-180 z-10 brush" src={brush2} alt="brush variant 2" />
    </div>
  </div>
</section>

<style>
  * {
    font-family: "Aloja-Extended";
  }
  .cart {
    margin-top: 40px;
    display: flex;
    gap: 10px;
  }
  .cart-text-container {
    font-weight: 100;
    display: grid;
    place-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #cc5773;
  }
  .main-section {
    margin-bottom: 8em;
  }
  .brush {
    width: 60%;
  }
</style>
